*{
	padding:0;
	margin:0;
	text-decoration: none ;
	font-family: candara ;
}

.appareils .Diets{
    display: flex;
    justify-content: space-between;
	
}
.appareils .apps{
	background-color: white;
	border: 2px solid red;
}

.appareils .appa {
	background-color: white;
	border: 2px solid red;
}
.appareils .appare {
	background-color: white;
	border: 2px solid red;
}

.appareils a{
	color: red;
}
.appareils .retour{
	font-size: 40px;
	margin: auto 120px;
	padding-top: auto;
	color: white;
	background-color: red;
	border-radius: 10px;
}
